/node_modules
/package-lock.json
/package.json
/myfile.txt
/NodeJS/eslint.config.js
/NodeJS/prettier.config.js
/NodeJS/12_Node-Core_Modules/HTTPS_Module/key.pem
/NodeJS/12_Node-Core_Modules/HTTPS_Module/cert.pem
/NodeJS/12_Node-Core_Modules/HTTPS_Module/csr.pem
/NodeJS/12_Node-Core_Modules/HTTPS_Module/chain.pem
/output.txt
/new-file.txt
/new-name.txt